body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-inverse {
	background-image: none;
	background-color: #496393;
	border-color: #496393;
}

.dashboard { margin-top: 50px; }
.widget { height: 200px; }
.widget p { font-size: 60px; color: #496393; text-align: center; margin-top: 35px; }
